.chat-main
  .main-header
    .main-header__box-left
      .main-header__box-left__group-info
        = @group.name
      %ul.main-header__box-left__members-info
        Member：
        %li.main-header__box-left__member
          - @group.users.each do |user|
            = user.name
          
    = link_to 'Edit', edit_group_path(@group.id), class: "main-header__box-edit"
  .main-body
    = render @messages



  .main-footer
    = form_with model: [@group, @message], html: {class: "form"}, local: true do |f|
      .input-content
        = f.text_field :content, class: 'input-content__text', placeholder: 'type a message'
        = f.label :image, class: 'input-content__image' do
          = icon('far', 'image', class: 'input-content__icon')
          = f.file_field :image, class: 'input-content__image__file'
      = f.submit 'Send', class: 'submit-btn'


